@import "reset.css";

html {
  --color-text: #333333;
  --color-bg: #eee;

  --color-text-rgb: 51, 51, 51;
  --color-bg-rgb: 238, 238, 238;

  --transition-defaults: 250ms ease;

  &.dark {
    --color-text: #fafafa;
    --color-bg: #222222;

    --color-text-rgb: 250, 250, 250;
    --color-bg-rgb: 34, 34, 34;
  }

  background-color: var(--color-bg);

  @media (prefers-color-scheme: light) {
    background-color: var(--color-bg);
  }

  @media (prefers-color-scheme: dark) {
    background-color: var(--color-bg);
  }

  /* --breakpoint-small: 600px; */
  /* --breakpoint-medium: 11000px; */

  padding: 2rem 5rem;
  font-family: "iA Writer Quattro", sans-serif;

  color: var(--color-text);
  transition: color var(--transition-defaults),
    background-color var(--transition-defaults);

  @media screen and (max-width: 600px) {
    padding: 5em 0em;
  }
}

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

::selection {
  background: #a2c0ff91;
}

nav {
  position: fixed;
  top: 2rem;
  right: 2rem;

  a,
  span {
    display: inline-block;
    padding: 0.4em;
    vertical-align: middle;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lexend Variable", sans-serif;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
}

footer {
  width: 100%;
  padding: 3rem;
  opacity: 0.3;
  font-size: 0.8rem;
}

a {
  color: var(--color-text);
  transition: color var(--transition-defaults);

  &:hover {
    text-decoration: none;
    opacity: 1;
  }
}

article {
  max-width: 1100px;
  margin: auto;
  padding: 2rem;

  @media screen and (max-width: 600px) {
    padding: 0 1.5rem;
  }
}

p {
  max-width: 40em;
  margin: 1em 0;
}

.button {
  display: inline-block;
  text-decoration: none;
  padding: 0.2em 0.8em;
  margin: 0.5em;
  border-radius: 100px;
  background-color: rgba(var(--color-text-rgb), 0.8);
  color: var(--color-bg);
  font-size: 0.9em;
  font-weight: 500;

  transition: background-color var(--transition-defaults),
    color var(--transition-defaults);

  &:hover {
    background-color: rgba(var(--color-text-rgb), 0.7);
  }

  &:active {
    background-color: rgba(var(--color-text-rgb), 1);
  }
}

.dark .button {
  background-color: rgba(var(--color-text-rgb), 0.8);

  &:hover {
    background-color: rgba(var(--color-text-rgb), 1);
  }

  &:active {
    background-color: rgba(var(--color-text-rgb), 0.7);
  }
}

.Hero {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: #f9e8c9;
  color: #242a36;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-image: url("/pears.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;

  h1 {
    font-size: 4rem;
    margin: 0;
  }

  p {
    font-size: 1.2rem;
    margin: 0;
  }

  form {
    padding: 1rem;
    display: flex;
    gap: 1rem;

    @media screen and (max-width: 600px) {
      flex-direction: column;
      align-items: center;
    }
  }

  input,
  button {
    border-radius: 0.6em;
    padding: 0.3rem 0.8rem;
    border: none;
    font-size: 1rem;
    color: #242a36;
    backdrop-filter: blur(5px);
    transition: background-color 0.2s ease-out, box-shadow 0.2s ease-out;
  }

  input[type="email"] {
    background-color: #fffcf9cd;
    box-shadow: inset 0px 1px 1px rgba(3, 7, 18, 0.179),
      inset 0px 5px 4px rgba(3, 7, 18, 0.06), 0px 1px 1px rgb(255, 255, 255);
    outline: none;
    width: 250px;

    &:hover,
    &:focus {
      background-color: #fffdfb;
      box-shadow: inset 0px 1px 1px rgba(3, 7, 18, 0.179),
        inset 0px 5px 4px rgba(3, 7, 18, 0.041), 0px 1px 1px rgb(255, 255, 255);
    }

    &:focus {
      outline: 2.5px solid #242a369e;
    }
  }

  ::placeholder {
    color: #242a36;
    opacity: 0.4;
  }

  button {
    cursor: pointer;
    background-color: #f6ebe088;
    /* https://smoothshadows.com/#djEsMiw1LDAuMDgsMjQsMzIsMCwjMDMwNzEyLCNmM2Y0ZjYsI2ZmZmZmZiwz */
    box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.742),
      0px 1px 1px rgba(3, 7, 18, 0.08), 0px 5px 4px rgba(3, 7, 18, 0.06),
      0px 12px 9px rgba(3, 7, 18, 0.05), 0px 20px 15px rgba(3, 7, 18, 0.03),
      0px 32px 24px rgba(3, 7, 18, 0.02);

    &:hover {
      background-color: #fffcf9b1;
    }
    &:active {
      /* https://smoothshadows.com/#djEsMiwyLDAuMDgsNyw3LDAsIzAzMDcxMiwjZjNmNGY2LCNmZmZmZmYsMw%3D%3D */
      box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.742),
        0px 2px 2px rgba(3, 7, 18, 0.08), 0px 7px 7px rgba(3, 7, 18, 0.04);
    }
  }
}

.EmailForm {
  height: 6rem;
  display: flex;
  align-items: flex-start;
}
